SUPABASE_URL=https://nsrgkgnrfuzxpygdvnsk.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zcmdrZ25yZnV6eHB5Z2R2bnNrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxNTg0NTQsImV4cCI6MjA4OTczNDQ1NH0.9OKhsJv11JTfUUQHehyD9_-PpvOeWhwYZOCSkM7ghXU
VITE_SUPABASE_URL=https://nsrgkgnrfuzxpygdvnsk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zcmdrZ25yZnV6eHB5Z2R2bnNrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxNTg0NTQsImV4cCI6MjA4OTczNDQ1NH0.9OKhsJv11JTfUUQHehyD9_-PpvOeWhwYZOCSkM7ghXU
SUPABASE_SERVICE_ROLE_KEY=
